*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
  --ff-primary: 'Ubuntu Mono', monospace;
  --ff-secondary: 'Ubuntu Mono', monospace;
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media only screen and (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* Stili elementi generici */

body {
  background: white;
  color: black;
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

img {
  display: block;
  max-width: 100%;
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* Tipografia */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {
  font-size: var(--fs-h1)
}

h2 {
  font-size: var(--fs-h2)
}

h3 {
  font-size: var(--fs-h3)
}

/* Header e menu' di navigazione */

header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.logo {
  max-width: 100px;
}

.nav-toggle {
  padding: .5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}

.btn-menu {
  display: block;
  position: relative;
}

.btn-menu,
.btn-menu::before,
.btn-menu::after {
  background: #00E600;
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.btn-menu::before,
.btn-menu::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}

.btn-menu::before {
  top: 6px;
}

.btn-menu::after {
  bottom: 6px;
}

nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #00E600;
  overflow: hidden;
  padding-top: 60px;
  transition:0.5s;
  color: black;
  border-left: 3px solid black;
}

nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

nav a:hover {
  color: #f1f1f1;
}

nav .chiusura-btn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

.link-di-navigazione {
  color: black;
  text-decoration: none;
}

.link-di-navigazione:hover {
  color: black;
  text-decoration: underline;
}

.apertura-menu .nav {
  transform: translateX(0);
}

.apertura-menu .nav-toggle {
  position: fixed;
}

.apertura-menu .btn-menu {
  transform: rotate(.625turn);
  background: black;
}

.apertura-menu .btn-menu::before {
  transform: rotate(90deg) translateX(-6px);
  background: black;
}

.apertura-menu .btn-menu::after {
  opacity: 0;
  background: black;
}

/* Media Queries */

@media screen and (max-height: 450px) {
  nav {
    padding-top: 15px;
  }

  nav a {
    font-size: 18px;
  }
}

/* Sezione Intro */

.intro {
  position: relative;
  padding-top: 50px;
  padding-bottom: 200px;
}

.intro__img {
  box-shadow: var(--bs);
  border-radius: 100%;
}

.sottotitolo-sezione--intro {
  display: inline-block;
}

.titolo-sezione {
  margin-top: 20px;
  margin-bottom: 20px;
}

.titolo-sezione--intro {
  font-weight: 400;
}

.titolo-sezione--intro strong {
  display: block;
}

.sottotitolo-sezione {
  margin: 0;
  font-size: 25px;
}

.sottotitolo-sezione--intro {
    background: #00E600;
    padding: 5px 20px;
    font-family: var(--ff-secondary);
    margin-bottom: 5px;
}

/* Media Queries */

@media only screen and (min-width: 665px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .intro__img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }

  .sottotitolo-sezione--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
}

@media only screen and (min-width: 850px) and (max-width: 1135px) {
  .intro {
    width: 80%;
  }

  .titolo-sezione--intro {
    text-align: center;
    width: 99%;
  }

  .sottotitolo-sezione--intro {
      align-self: start;
      grid-column: -1 / 1;
      grid-row: 2;
      text-align: right;
      position: relative;
      width: calc(90%);
  }
}

@media only screen and (max-width: 665px) {
  .titolo-sezione {
    text-align: center;
  }

  .sottotitolo-sezione--intro {
      align-self: start;
      grid-column: -1 / 1;
      grid-row: 2;
      text-align: right;
      position: relative;
      left: -1.5em;
      width: calc(100% + 1.5em);
  }
}

/*  Sezione Cosa faccio  */

#cosa-faccio {
  background-color: #00E600;
  background-size: cover;
  color: black;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.titolo-sezione--cosafaccio {
  color: black;
  position: relative;
  padding-bottom: 10px;
}

.servizi {
  margin-bottom: 4em;
  display: flex;
  align-items: center;
  top: 0;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 30%;
  border: 1px solid black;
}

.testo p {
  padding-left: 5px;
  padding-right: 5px;
  text-align: justify;
}

img {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
}

@media only screen and (max-width: 860px) {
  .servizi {
    flex-direction: column;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .card {
    margin: 20px;
    max-width: 80%;
  }
}

@media only screen and (max-width: 860px) {
  .card {
    margin: 5px;
    max-width: 100%;
  }
}

/* Bottone */

.bottone {
  display: inline-block;
  padding: 10px 25px;
  background: black;
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  transition: transform 200ms ease-in-out;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bottone:hover {
  background-color: white;
  color: black;
  transform: scale(1.2);
  text-decoration: none;
  border: 2px solid black;
}

/* Sezione Chi sono */

#chi-sono {
  text-align: center;
  padding: 10px;
}

.descrizione {
  max-width: 1200px;
  margin: 0 auto;
  text-align: justify;
}

.chi-sono__img {
  box-shadow: var(--bs);
}

/* Media Queries */

@media only screen and (min-width: 1300px) {
  .descrizione {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "text img";
    grid-column-gap: 2em;
  }

  .section__title--chisono {
    grid-area: title;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .chi-sono__img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}

@media only screen and (max-width: 1299px) {
  .descrizione {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-areas:
      "text img";
    grid-column-gap: 2em;
  }
}

@media only screen and (max-width: 1200px) {
  #chi-sono {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 860px) {
  .descrizione {
    display: inline;
  }
}

/* Sezione I miei progetti */

#i-miei-progetti {
  background-color: #00E600;
  color: black;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.contenitore-presentazione {
  max-width: 1300px;
  position: relative;
  margin: 0 auto;
}

.slides {
  display: none;
  border: 5px solid black;
  transition: 2s;
}

.precedente,
.successivo {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
  background-color: white;
  border: 2px solid black;
}

.precedente {
  left: 0;
  border-radius: 0 10px 10px 0;
}

.successivo {
  right: 0;
  border-radius: 10px 0 0 10px;
}

.precedente:hover,
.successivo:hover {
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  color: white;
}

.didascalia {
  color: black;
  font-size: 25px;
  padding: 8px 12px;
  position: relative;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.puntino {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: 0.6s ease;
}

.attivo,
.puntino:hover {
  background-color: #717171;
}

@media screen and (max-width: 600px) {
  .didascalia {
    font-size: 15px;
  }

  .precedente,
  .successivo {
    top: 25%;
  }
}

@media screen and (max-width: 700px) {
  .precedente,
  .successivo {
    top: 25%;
  }
}

/* Sezione Conoscenze e competenze */

#skills {
  padding: 20px;
  text-align: center;
}

#skills h3 {
  font-size: 2em;
}

.contenitore-grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 10px;
}

.elemento-grid {
  width: 170px;
  height: 170px;
  padding: 20px;
}

.elemento-grid img {
  width: 100% auto;
  height: 100% auto;
}

@media only screen and (max-width: 600px) {
  .contenitore-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
  }

  .elemento-grid {
    width: 170px;
    height: 170px;
  }
}

/* Footer */

.footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 30px;
  font-size: var(--fs-h3);
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.link-footer {
  font-weight: var(--fw-bold);
}

.link-footer:hover,
.link-social:hover {
  opacity: .7;
}

.link-footer:hover {
  text-decoration: underline;
}

.social {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding: 0;
}

.icona-social {
    margin-left: 50px;
    margin-right: 50px;
}

i {
  font-size: 40px;
}

@media only screen and (max-width: 500px) {
  .social {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }

  .footer {
    padding: 0px;
  }

  .icona-social {
    margin-left: 25px;
    margin-right: 25px;
  }
}
